body, html {
	padding:0;
	margin: 0;
	background-color: rgb(200, 200, 200);{}
	width:100%;
	cursor: none;
	font-family: Tahoma, Helvetica;
	letter-spacing: 0.125em;
	-webkit-text-stroke-width: 0.1em;
	-webkit-text-stroke-color: rgb(0, 0, 0);
	text-shadow: 0.225em 0.225em 0.25em rgba(150, 150, 150, 0.85);
}

div {
	position: absolute;
	top:70%;
	margin: 0 auto;
	width:100%;
	transform: translateY(-50%);
	
}

p {
	color: white;
	font-size: 2.5em;
	text-align: center;
	margin: 0 2em;
	transition: opacity ease 200ms;
}